{% extends 'base.html.twig' %}

{% block title %}Le site qui met en relation propriétaires et voyageurs{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymBNB</h1>
            <p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent mettent leur bien à la location</p>
        <hr class="my-4">
            <p>Vous êtes voyageur ? Quel sera votre prochain logement pour votre voyage ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
        </p>
    </div>

        <h2 class="h1 my-5">Nos appartements stars</h2>

        <div class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}
            {% endfor %}
        </div>

        <h2 class="h1 my-5">Nos propriétaires stars</h2>

        <div class="row">
            {% for data in users %}
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{data.user.fullName}}</h4>
                        <hr>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-4">
                                <img src="{{data.user.picture}}" alt="Avatar de {{data.user.fullName}}" class="float-left-mr-3">
                            </div>
                            <div class="col-8">
                                <p>{{data.user.introduction}}</p>
                            </div>
                            </div>
                            
                            
                            <a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
</div>
    
{% endblock %}
